{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'main/style/style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <title></title>
</head>
<script>
    document.getElementById('button1').addEventListener('click', function () {
        if (!this.disabled) {
            document.getElementById('button1').classList.add('active');
            document.getElementById('button2').classList.remove('active');
            document.getElementById('button2').disabled = true;
            document.getElementById('button1').disabled = false;
        }
    });

    document.getElementById('button2').addEventListener('click', function () {
        if (!this.disabled) {
            document.getElementById('button2').classList.add('active');
            document.getElementById('button1').classList.remove('active');
            document.getElementById('button1').disabled = true;
            document.getElementById('button2').disabled = false;
        }
    });

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
    }
    }
    }
    }

</script>


<body>

<div style="background-color: #614EA7; ">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 container_user">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="{% url 'index' %}" class="logo_block text-white text-decoration-none">
                <img src="{% static 'main/image/logo.svg' %}" alt="лого">
                <p class="logo-text fs-3">TodoTeam</p>
            </a>
        </div>


        <div class="col-md-3 text-end">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Настройки</button>
                <div id="myDropdown" class="dropdown-content">
                    <a class="text-center" href="#">Изменить данные</a>
                    <a class="text-center"  href="#">Выход</a>
                </div>
            </div>
    </header>
</div>
<div class="d-flex">


    <div class="aside d-flex">

        <aside class="container_user d-flex flex-column gap-3">
            <div>
                <form class="search">
                    <input type="text" class="search-field" placeholder="Поиск">
                    <img src="{% static 'main/image/mingcute_search.svg' %}" alt="" class="search-icon">
                </form>
            </div>
            <hr>
            <div class="d-flex">
                <img src="{% static 'main/image/Vector_1.svg'%}">
                <a href="" class="text-decoration-none text-white p-2 ">Входящие</a>
            </div>
            <hr>
            <div>
                <ul class="ul_tasks d-flex flex-column gap-2">
                    <li class="d-flex"><img src="{% static 'main/image/Vector.svg'%}"><a href=""
                                                                                         class="text-decoration-none">Сегодня</a>
                    </li>
                    <li class="d-flex"><img src="{% static 'main/image/material-symbols_star.svg'%}"
                                            style="width: 20px"><a
                            href="" class="text-decoration-none">Завтра</a></li>
                    <li class="d-flex"><img src="{% static 'main/image/mdi_calendar.svg'%}"><a href=""
                                                                                               class="text-decoration-none">На
                        всю неделю</a></li>
                    <li class="d-flex"><img src="{% static 'main/image/twemoji_infinity.svg'%}"><a href=""
                                                                                                   class="text-decoration-none">Все</a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="dropdown dropdown_work">
                <button class="btn btn-secondary dropdown-toggle dropdown_work" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Задача
                </button>
                <ul class="dropdown-menu dropdown-menu-work">
                    <li><a class="dropdown-item" href="#">Задача 1</a></li>
                    <li><a class="dropdown-item" href="#">Задача 2</a></li>
                </ul>
            </div>
        </aside>
    </div>
    {% block content %}

    {% endblock %}
    <div style="background-color: #614EA7; ">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 ">
                <div class="col mb-3">
                    <a href="{% url 'index' %}" class="logo_block text-white text-decoration-none">
                        <img src="{% static 'main/image/logo.svg' %}" alt="лого">
                        <p class="logo-text fs-3">TodoTeam</p>
                    </a>
                    <p class=" title_email text-email">Свяжитесь с нами</p>
                    <p class="text-white text-email ">Телефон: <span
                            class="text-decoration-underline">+78005553535</span>
                    </p>
                    <p class="text-white text-email">Почта: <span
                            class="text-decoration-underline">TodoTeam@gmail.com</span></p>

                    <div class="social_media">
                        <p class="text-center text-white"> Социальные сети</p>
                        <div class="d-flex justify-content-around    ">
                            <img src="{% static 'main/image/instagram.svg' %}" alt="Инстаграм">
                            <img src="{% static 'main/image/youtube_2111795.svg' %}" alt="Ютуб">
                            <img src="{% static 'main/image/vk_4926544.svg' %}" alt="Вк">
                            <img src="{% static 'main/image/telegram_739260.svg' %}" alt="Телеграмм">
                        </div>
                    </div>

                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5 class=" title_email">Первый</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Главная</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Личный кабинет</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Авторизация</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Регистрация</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5 class=" title_email">Второй</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Главная</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Личный кабинет</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Авторизация</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Регистрация</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5 class=" title_email">Третий</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Главная</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Личный кабинет</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Авторизация</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Регистрация</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

</body>
</html>