{% extends 'main/layout.html' %}

{% block title %}
Добавить статью
{% endblock %}

{% block content %}
<section class="container">
    <div class="d-flex">
        <div class="d-flex">
            <h1>Войти</h1>
            <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Логин</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
          <a href="{% url "registration"%}">  Ещё нет аккаунта? Зарегистрироваться </a>


        </div>
        <img>
    </div>
</section>
{% endblock %}