{% extends 'user/aside.html' %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}


<div class="container">
    <div class="d-flex flex-column ">
        <div class="d-flex align-items-center my-3">
            <img src="{% static 'main/image/Vector_Star.svg'%}" width="50px" height="50px" alt="значок">
            <p class="Title_work">{{ current_date|date:"d F Y" }}</p>
        </div>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between align-items-center die">
            <p>Избранное</p>
            {% if user_is_leader %}
            <a href="{% url 'add_task' %}" class="text-white" style="text-decoration: none">
                Добавить
                <img src="{% static 'main/image/ei_plus.svg'%}" alt="Добавить">
            </a>
            {% endif %}
        </div>
        {% for task in tasks %}
        <div class="list mb-3 row my-3">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    {% if task.status_id == 1 %}
                    <a href="{% url 'status' task.id %}" class="button_1">
                        <img src="{% static 'main/image/wait.svg'%}" alt="mark_sign">
                    </a>
                    {% elif task.status_id == 2 %}
                    <a href="{% url 'status' task.id %}" class="button_1">
                        <img src="{% static 'main/image/Subtract.svg'%}" alt="mark_sign">
                    </a>
                    {% elif task.status_id == 3 %}
                    <div class="button_1">
                        <img src="{% static 'main/image/flat-color-icons_checkmark.svg'%}" alt="mark_sign">
                    </div>
                    {% else %}
                    <div class="button_1">
                        <img src="{% static 'main/image/maki_cross.svg'%}" alt="mark_sign">
                    </div>
                    {% endif %}
                    <div class="d-flex flex-column">
                        <p style="font-size: 25px; margin-bottom: 0px;">{{ task.title_task }}</p>
                        <p class="fw-light">{{ task.description_task }}</p>
                        <p class="m-0" style="font-size: 12px;">{{ task.task_time_start }} - {{ task.task_time_end }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    {% if user_is_leader %}
                    <a href="{% url 'deleteTask' task.id %}">
                        <img src="{% static 'main/image/maki_cross.svg'%}" alt="close">
                    </a>
                    <a href="{% url 'updateTask' task.id %}">
                        <img src="{% static 'main/image/Subtract.svg'%}" alt="close">
                    </a>
                    {% endif %}
                    {% with task.is_favorite|default:False as is_favorite %}
                    {% if is_favorite %}
                    <a href="{% url 'favorite' task.id %}">
                        <img src="{% static 'main/image/heart.svg'%}" alt="favorite">
                    </a>
                    {% else %}
                    <a href="{% url 'favorite' task.id %}">
                        <img src="{% static 'main/image/love.svg'%}" alt="favorite">
                    </a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="list mb-3 row my-3">
            <h3>Нет избранных</h3>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}