{% extends 'user/aside.html' %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}



    <div class="container_content">
        <div class="d-flex flex-column ">
            <div class="d-flex align-items-center gap-2 "><img src="{% static 'main/image/Vector_Star.svg'%}" alt="значок">
                <p class="Title_work">Сегодня</p></div>
            <div class="d-flex die"><p>Ваши задачи</p></div>
            <div class="d-flex gap-3 justify-content-between mt-3 ">
                <div class="d-flex gap-2">
                    <button id="button1" class="active button_1"><img
                            src="{% static 'main/image/flat-color-icons_checkmark.svg'%}" alt=""></button>
                    <button id="button2" class="button_1"><img src="{% static 'main/image/maki_cross.svg'%}" alt="">
                    </button>
                    <div class="d-flex flex-column">
                        <p style="font-size: 25px; margin-bottom: 0rem;">Отправить отчёт </p>
                        <p style="font-size: 12px;">08:30</p>
                    </div>
                </div>
                <button style="border: none; background-color: #FFFFFF;"><img src="{% static 'main/image/love.svg'%}"
                                                                              alt=""></button>
            </div>
        </div>
    </div>

</div>


{% endblock %}