{% extends 'user/aside.html' %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<div>
    <div>
        <form>
            <input placeholder="поиск">
        </form>
    </div>
    <div>
        <a>Входящие</a>
    </div>
    <div>
        <ul>
            <li><a>Сегодня</a></li>
             <li><a>Завтра</a></li>
             <li><a>На всю неделю</a></li>
             <li><a>Все</a></li>
        </ul>
    </div>
    <div>
        
    </div>
</div>
{% endblock %}