{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Вход
{% endblock %}

{% block content %}
<section class="container">
    <div class="d-flex justify-content-evenly m-3 Registaration">
        <div class="form_template d-flex flex-column align-items-center text-white gap-3">
            <h1>Регистрация</h1>
            <form method="post" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Имя</label>
                    {{form.first_name}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Фамилия</label>
                    {{form.last_name}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Логин</label>
                    {{form.username}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Почта</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
                    {{ form.password2 }}
                </div>

                <button type="submit" class="btn btn auth_button form_template_button">Создать аккаунт</button>



            </form>
        <a href="{% url 'sign_in' %}" class="text-decoration-none"> Есть аккаунт? <span class="text-decoration-underline"> Войдите! </span> </a>


        </div>
        <img src="{% static 'main/image/people_sign_in.svg'%}" alt="Картинка">
    </div>
</section>
{% endblock %}