{% extends 'main/layout.html'%}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex">
        <div class="d-flex main_one ">
            <h1 class="">Оптимизируйте свой рабочий процесс вместе с TodoTeam</h1>
            <p>Облачный сервис для управления работой, который легко применим к любому бизнесу и проекту, чтобы команды могли совместно достигать амбициозных целей.</p>
            <a class="main_one_button">Попробывать</a>
        </div>
        <img src="" alt="Картинка1">

    </div>
</div>
{% endblock %}