{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
    <section class="d-flex justify-content-between main">
        <div class="d-flex align-items-start flex-column main_one gap-3 ">
            <h1>Оптимизируйте свой рабочий процесс вместе с TodoTeam</h1>
            <p>Облачный сервис для управления работой, который легко применим к любому бизнесу и проекту, чтобы команды
                могли совместно достигать амбициозных целей.</p>
            <img src="{% static 'main/image/hero.svg' %}" alt="Картинка1" class="w-45 main_img">
            <a class="main_one_a text-decoration-none">Попробовать</a>
        </div>
        <img src="{% static 'main/image/hero.svg' %}" alt="Картинка1" class="w-45 main_two">
    </section>
    <section>
        <h2 class="title_sectionTwo">Почему мы?</h2>
        <p class="title_sectionTwo p_sectionTwo">Мы понимаем сложности управления задачами и проектами и стремимся
            предоставить вам наилучшее решение.</p>
        <div class="d-flex d-flex justify-content-between section_two_block">
            <div class="d-flex flex-column align-items-center">
                <img src="{% static 'main/image/single2.svg'%}" alt="картинка">
                <p>Интуитивно понятный интерфейс</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img src="{% static 'main/image/single1.svg'%}" alt="картинка">
                <p class="text-center">Мощные функции для организации задач</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img src="{% static 'main/image/single3.svg'%}" alt="картинка">
                <p>Настраиваемая таск - система.</p>
            </div>
        </div>
    </section>
    <section class="section_three">
        <h2 class="text-center questions">Вопросы</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed button_style" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Что такое TodoTeam и как он может помочь мне управлять моими задачами и проектами?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere hic illo, inventore labore
                        maiores odio odit quia quod, sapiente sunt tempore! Assumenda ipsum nesciunt nostrum omnis, quos
                        voluptate.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed button_style" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Каким образом TodoTeam отличается от других инструментов управления задачами?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere hic illo, inventore labore
                        maiores odio odit quia quod, sapiente sunt tempore! Assumenda ipsum nesciunt nostrum omnis, quos
                        voluptate.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed button_style" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Могу ли я назначать задачи конкретным членам команды в TodoTeam?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere hic illo, inventore labore
                        maiores odio odit quia quod, sapiente sunt tempore! Assumenda ipsum nesciunt nostrum omnis, quos
                        voluptate.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed button_style" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Могу ли я получать доступ к TodoTeam с нескольких устройств?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere hic illo, inventore labore
                        maiores odio odit quia quod, sapiente sunt tempore! Assumenda ipsum nesciunt nostrum omnis, quos
                        voluptate.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed button_style" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Могу ли я настроить TodoTeam под мои конкретные рабочие процессы и потребности?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at facere hic illo, inventore labore
                        maiores odio odit quia quod, sapiente sunt tempore! Assumenda ipsum nesciunt nostrum omnis, quos
                        voluptate.
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>
{% endblock  %}